.dropbtn{
  padding: 5px;
  font-size: 12px;
  border: none;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 10px;
  z-index: 1;
}
.dropdown-content a{
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white;}
